<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Custom RPC</title>
    <meta charset="utf-8">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/index.css">
    <script src="js/jquery-2-0-2.js"></script>
    <script src="js/index.js"></script>
  </head>

  <body>
    <div class="root">
      <div class="container-left">
        <table class="game-bar">
          <tbody>
            <% for(var i = 0; i < games.length; i++){ var game = games[i]; %>
              <tr><td class="game" id=<%= game["id"] %>><%= game["name"] %></td></tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="container-right">
        <% for(var i = 0; i < games.length; i++){ var game = games[i]; %>
          <div class="page" page=<%= game["id"] %>>
            <div class="text-top">
              <% for(var j = 0; j < game["top"].length; j++){ var top = game["top"][j]; %>
                <div class="select-top"><%= top %></div>
              <% } %>
            </div>
            <div class="text-bot">
              <% for(var j = 0; j < game["bot"].length; j++){ var bot = game["bot"][j]; %>
                <div class="select-bot"><%= bot %></div>
              <% } %>
            </div>
          </div>
        <% } %>

        <div class="two-buttons">
          <div class="button submit">Submit</div>
          <div class="button stop">Stop</div>
        </div>
      </div>
    </div>
  </body>
</html>
